<nav class="bg-gray-800">
  <div class="container mx-auto p-5 text-white flex">
    <h1 class="flex-1 font-bold">Rollcall</h1>

    <%= if Plug.Conn.get_session(@conn, :user_id) do %> <%= link "Log out", to:
    "/auth/signout" %> <% end %>
  </div>
</nav>

<main class="container mx-auto p-5">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
